In [22]:
import pandas as pd

In [23]:
data=pd.read_csv("./spam.csv", encoding="latin-1")

In [24]:
data.head(5)

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [25]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [26]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [27]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [28]:
data['class'] = data['class'].map({'ham': 0, 'spam': 1})

In [29]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X=data['message']
y=data['class']

In [33]:
X.shape

(5572,)

In [34]:
y.shape

(5572,)

In [35]:
data.isnull().sum()

class      0
message    0
dtype: int64

In [36]:
cv=CountVectorizer()

In [37]:
X=cv.fit_transform(X)

In [38]:
x_train, x_test,y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [39]:
x_train.shape

(4457, 8672)

In [40]:
x_test.shape

(1115, 8672)

In [41]:
from sklearn.naive_bayes import MultinomialNB

In [42]:
model=MultinomialNB()